{% extends 'base.html' %} {% block title %}Home {% endblock %} {% block body %}
<div class="viewport">
  <div class="section1">
    <h1>Manage the Chaos in your WG</h1>
    <p>Don't let the chaos of life follow you home.</p>
    <img src="{{url_for("static", filename="assets/home_image.svg")}}" alt="" />
    <a href="{{ url_for('articles.blog')}}" class="blog-button"> To Blog </a>
  </div>
  <div class="section2">
    <img src="{{url_for("static", filename="assets/home_image.svg")}}" alt="" />
  </div>
</div>
{% endblock %}
